a {
  color: #1067dc;
}

pre {
  font-size: 3rem;
  border-left-color: #26d2a1;
}

ul {
  list-style-type: disc;
}

h1, h2, h3 {
  font-weight: bold;
  color: #000;
}

header img {
  max-height: 340px;
}

section.content {
  background-color: #1067dc;
  color: #fff;
  padding: 1em;
  font-size: 3rem;
}

section.features {
  font-size: 2rem;
  padding: 1em;
  margin-top: 2em;
  color: #000;
}

section.install {
  margin-top: 2em;
}

section.install img {
  margin-bottom: 3em;
}

footer {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 2em;
  font-weight: 400;
}
